.tz-gallery {
  padding: 40px;
}

.tz-gallery .contenido{
  width: 600px;
  height: 600px;
  margin: 5px;
}

.tz-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}